# Practica N◦7: Entrenamiento, validaci ́on y testeo.

In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import seaborn.objects as so

from sklearn.model_selection import train_test_split

### Ejercicio 1
Queremos estudiar la relación entre la longitud de la aleta de un pinguino y el peso del pinguino.
Como en una esfera, el peso es proporcional a la longitud del radio elevada al cubo, podemos
conjeturar que un polinomio de grado 3 es apropiado para ajustar el peso en función de la
longitud de la aleta. Queremos verificar si nuestra conjetura tiene sustento en los datos.

#### (a) Datos faltantes. 
Ejecutar el siguiente código y observar si hay filas con datos faltantes
(NaN)

In [9]:
penguins = sns.load_dataset("penguins")
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [10]:
penguins.isnull().values.any()

np.True_

Existen valores nulos, usamos `dropna()` para eliminar filas con valores faltantes y verificamos:

In [11]:
penguins = penguins.dropna()
penguins.isnull().values.any()

np.False_

No hay filas con valores NaN.

#### (b) Conjuntos de entrenamiento y testeo. 
Dividir el dataset resultante en un grupo de
entrenamiento y uno de testeo (80% - 20%) utilizando la función `train_test_split` de
sklearn:

In [ ]:
penguins_train, penguins_test = train_test_split(penguins, test_size=0.2, random_state=42)