# Clase 11
### Webscrapping

In [2]:
import seaborn as sns

import seaborn.objects as so
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

En este trabajo exploraremos la base de datos `Sleep_Efficiency_Cleaning.csv`. Es una base descargada de kaggle.com generada a partir de información sobre los hábitos de sueño de distintas personas. La base está levemente modificada para los ejercicios de este trabajo. Las variables incluidas son:

- **ID:** identificación de participante
- **Age:** edad
- **Gender:** que designa al género de cada persona
- **Bedtime:** que tiene la hora a la que se va a dormir la persona
- **Wakeup time:** que tiene la hora a la que se despiertan las personas
- **Sleep.duration:**  que nos dice cuánto tiempo pasa cada persona durmiendo
- **Sleep.efficiency:** que nos dice cuanto del tiempo que pasan laa persona en la cama, efectivamente duermen.
- **REM sleep percentage:**  que tiene la proporción de sueño REM de la persona
- **Deep sleep percentage:**  que tiene la proporción de sueño profundo de la persona
- **Light sleep percentage:**  que tiene la proporción de sueño liviano de la persona
- **Awakenings:** que tiene la cantidad de veces que la persona se despierta a la noche
- **Caffeine consumption:** que nos dice la cantidad de cafeina que consume la persona
- **Alcohol consumption:** que nos dice la cantidad de alcohol que consume la persona
- **Smoking.status:** que nos dice si la persona es o no es fumadora
- **Excersice frequency:** que nos dice cuán frecuentemente hace ejercicio la persona

In [18]:
datos = pd.read_csv("../datasets/Sleep_efficiency_cleaning.csv")
datos.head()

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0

#### 1. Con lo que sabemos hasta ahora, tomemonos 10 minutos para chusmear los datos

¿Les parece que podría haber cosas para limpiar en los datos? ¿Por qué?

wakeup time es al pedo (bedtime + sleep_duration)

en realidad el que esta al pedo es sleep duration, es mas util tenerlos a los dos en el mismo formato...

uno de los sleep_percentage puede ser dropeado y deducido de los otros (e.g. rem = 100 - deep - light)

### 2. Limpieza de los datos

Nos interesará realizar algunas acciones de limpieza de datos:
- Filtrar datos
- Renombrar variables
- Eliminar datos faltantes
- Eliminar duplicados

#### 2.a. Filtrado

Por ejemplo, tengo datos de niños de edad de 10 años, pero son muy pocos. Uno puede decidir si quitarlos o no, y quedarnos solo con los adultos. 

Otra decision puede ser sacar a los que duermen menos de 6 horas, ya que no hay muchos realmente.

In [7]:
# Limpieza de datos
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      462 non-null    int64
 1   Age                     462 non-null    int64
 2   Gender                  462 non-null    object
 3   Bedtime                 462 non-null    object
 4   Wakeup time             462 non-null    object
 5   Sleep duration          462 non-null    float64
 6   Sleep efficiency        462 non-null    float64
 7   REM sleep percentage    462 non-null    int64
 8   Deep sleep percentage   462 non-null    int64
 9   Light sleep percentage  462 non-null    int64
 10  Awakenings              442 non-null    float64
 11  Caffeine consumption    437 non-null    float64
 12  Alcohol consumption     447 non-null    float64
 13  Smoking status          462 non-null    object
 14  Exercise frequency      456 non-null    float64
dtypes: float64(6), int64(5), object(4)
memory usage: 54.3+ KB

In [21]:
# Primero consideramos a los adultos mayores de 18 años y aquellos que duermen mas de 6 horas
datos = datos[(datos["Age"] >= 18) & (datos["Sleep duration"] >= 6)]
display(datos.head())
display(datos.info())

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0

<class 'pandas.core.frame.DataFrame'>
Index: 441 entries, 0 to 461
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      441 non-null    int64
 1   Age                     441 non-null    int64
 2   Gender                  441 non-null    object
 3   Bedtime                 441 non-null    object
 4   Wakeup time             441 non-null    object
 5   Sleep duration          441 non-null    float64
 6   Sleep efficiency        441 non-null    float64
 7   REM sleep percentage    441 non-null    int64
 8   Deep sleep percentage   441 non-null    int64
 9   Light sleep percentage  441 non-null    int64
 10  Awakenings              421 non-null    float64
 11  Caffeine consumption    416 non-null    float64
 12  Alcohol consumption     427 non-null    float64
 13  Smoking status          441 non-null    object
 14  Exercise frequency      435 non-null    float64
dtypes: float64(6), int64(5), object(4)
memory usage: 55.1+ KB

None

Esto significa que dropeamos 60 datos

### 2.b. Renombrar variables con diccionarios

Como vimos, nuestra base de datos tiene nombres de variables en ingles. Pero como nosotros somos más argentinos que usar ojotas con medias, vamos a pasarlo al castellano.

Para eso, nos van a servir mucho los **diccionarios**, que se utilizan para almacenar valores de datos en pares clave:valor.

Un diccionario es una colección ordenada, modificable y que no permite duplicados.

Yo podría generar este diccionario llamado dict

In [22]:
# Ejemplo
dict = { "hola" : "Expresión de saludo utilizada entre dos o más personas de trato familiar", "cinco" : 5, "dias" : ["lunes", "martes", "miercoles"]}

Si le pregunto que significa "hola", me dirá:

In [23]:
dict["hola"]

'Expresión de saludo utilizada entre dos o más personas de trato familiar'

Para lo que nos interesa a nosotros, podríamos tener lo siguiente:

In [ ]:
nombres = {
  "ID": "ID",
  "Age": "Edad",
  "Gender": "Género",
  "Bedtime": "Hora dormir",
  "Wakeup time": "Hora despertar",
  "Sleep duration": "Duracion suenio",      # aca hacia falta sacar el punto en sleep.duration
  "Sleep efficiency": "Eficiencia suenio",  # aca también
  "REM sleep percentage": "Porcentaje suenio REM",
  "Deep sleep percentage": "Porcentaje suenio profundo",
  "Light sleep percentage": "Porcentaje suenio liviano",
  "Awakenings": "Despertares",
  "Caffeine consumption": "Consumo cafeina",
  "Alcohol consumption": "Consumo alcohol",
  "Smoking status": "Fumador",
  "Exercise frequency": "Frecuencia ejercicio"
}

Para cambiar los nombres deberíamos usar rename() ¿Cómo lo usarian?

Pueden chusmear la ayuda

In [ ]:
help(pd.DataFrame.rename())

Help on function rename in module pandas.core.frame:

rename(
    self,
    mapper: 'Renamer | None' = None,
    *,
    index: 'Renamer | None' = None,
    columns: 'Renamer | None' = None,
    axis: 'Axis | None' = None,
    copy: 'bool | None' = None,
    inplace: 'bool' = False,
    level: 'Level | None' = None,
    errors: 'IgnoreRaise' = 'ignore'
) -> 'DataFrame | None'
    Rename columns or index labels.

    Function / dict values must be unique (1-to-1). Labels not contained in
    a dict / Series will be left as-is. Extra labels listed don't throw an
    error.

    See the :ref:`user guide <basics.rename>` for more.

    Parameters
    ----------
    mapper : dict-like or function
        Dict-like or function transformations to apply to
        that axis' values. Use either ``mapper`` and ``axis`` to
        specify the axis to target with ``mapper``, or ``index`` and
        ``columns``.
    index : dict-like or function
        Alternative to specifying axis (``mapper, axis=0``
        is equivalent to ``index=mapper``).
    columns : dict-like or function
        Alternative to specifying axis (``mapper, axis=1``
        is equivalent to ``columns=mapper``).
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to target with ``mapper``. Can be either the axis name
        ('index', 'columns') or number (0, 1). The default is 'index'.
    copy : bool, default True
        Also copy underlying data.

        .. note::
            The `copy` keyword will change behavior in pandas 3.0.
            `Copy-on-Write
            <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
            will be enabled by default, which means that all methods with a
            `copy` keyword will use a lazy copy mechanism to defer the copy and
            ignore the `copy` keyword. The `copy` keyword will be removed in a
            future version of pandas.

            You can already get the future behavior and improvements through
            enabling copy on write ``pd.options.mode.copy_on_write = True``
    inplace : bool, default False
        Whether to modify the DataFrame rather than creating a new one.
        If True then value of copy is ignored.
    level : int or level name, default None
        In case of a MultiIndex, only rename labels in the specified
        level.
    errors : {'ignore', 'raise'}, default 'ignore'
        If 'raise', raise a `KeyError` when a dict-like `mapper`, `index`,
        or `columns` contains labels that are not present in the Index
        being transformed.
        If 'ignore', existing keys will be renamed and extra keys will be
        ignored.

    Returns
    -------
    DataFrame or None
        DataFrame with the renamed axis labels or None if ``inplace=True``.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis and
        "errors='raise'".

    See Also
    --------
    DataFrame.rename_axis : Set the name of the axis.

    Examples
    --------
    ``DataFrame.rename`` supports two calling conventions

    * ``(index=index_mapper, columns=columns_mapper, ...)``
    * ``(mapper, axis={'index', 'columns'}, ...)``

    We *highly* recommend using keyword arguments to clarify your
    intent.

    Rename columns using a mapping:

    >>> df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
    >>> df.rename(columns={"A": "a", "B": "c"})
       a  c
    0  1  4
    1  2  5
    2  3  6

    Rename index using a mapping:

    >>> df.rename(index={0: "x", 1: "y", 2: "z"})
       A  B
    x  1  4
    y  2  5
    z  3  6

    Cast index labels to a different type:

    >>> df.index
    RangeIndex(start=0, stop=3, step=1)
    >>> df.rename(index=str).index
    Index(['0', '1', '2'], dtype='object')

    >>> df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")
    Traceback (most recent call last):
    KeyError: ['C'] not found in axis

    Using axis-style parameters:

    >>> df.rename(str.lower, axis='columns')
       a  b
    0  1  4
    1  2  5
    2  3  6

    >>> df.rename({1: 2, 2: 4}, axis='index')
       A  B
    0  1  4
    2  2  5
    4  3  6

In [38]:
datos = datos.rename(columns=nombres)
datos = datos.rename(columns=str.upper) # paso la funcion no como metodo, sino como Renamer (tipo de dato que toma una funcion como renombrador)

In [39]:
datos

,ID,EDAD,GÉNERO,HORA DORMIR,HORA DESPERTAR,DURACION SUENIO,EFICIENCIA SUENIO,PORCENTAJE SUENIO REM,PORCENTAJE SUENIO PROFUNDO,PORCENTAJE SUENIO LIVIANO,DESPERTARES,CONSUMO CAFEINA,CONSUMO ALCOHOL,FUMADOR,FRECUENCIA EJERCICIO
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0
3,4,40,Female,2021-11-03 02:30:00,2021-11-03 08:30:00,6.0,0.51,23,25,52,3.0,50.0,5.0,Yes,1.0
4,5,57,Male,2021-03-13 01:00:00,2021-03-13 09:00:00,8.0,0.76,27,55,18,3.0,0.0,3.0,No,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,197,30,Female,2021-08-05 00:00:00,2021-08-05 08:00:00,8.0,0.94,22,63,15,1.0,75.0,0.0,Yes,2.0
458,291,54,Male,2021-01-20 22:30:00,2021-01-20 06:30:00,8.0,0.84,18,60,22,3.0,0.0,0.0,No,3.0
459,102,53,Male,2021-01-28 01:00:00,2021-01-28 09:30:00,8.5,0.71,20,67,13,4.0,0.0,1.0,No,3.0
460,399,30,Female,2021-07-21 01:00:00,2021-07-21 08:00:00,7.0,0.91,28,52,20,0.0,50.0,0.0,No,0.0
461,31,24,Male,2021-08-10 00:00:00,2021-08-10 07:00:00,7.0,0.57,27,20,53,3.0,0.0,1.0,Yes,3.0

#### 2. c. Eliminar valores faltantes

¿Qué significa un valor perdido?

Los datos faltantes son algo típico de cualquier pipeline de análisis de datos. En general los paquetes estadísticos (pandas, dplyr, etc) tratan de facilitar el manejo de estos tipos de datos. En Pandas, se utiliza la expresión NaN (Not a number) o NA que viene del mundo R (Not available)

Para poder acceder a los datos faltantes, podemos utilizar la función isna() 

¿Cómo la usamos? ¿Qué nos devuelve?

In [41]:
datos.isna().sum()

ID                             0
EDAD                           0
GÉNERO                         0
HORA DORMIR                    0
HORA DESPERTAR                 0
DURACION SUENIO                0
EFICIENCIA SUENIO              0
PORCENTAJE SUENIO REM          0
PORCENTAJE SUENIO PROFUNDO     0
PORCENTAJE SUENIO LIVIANO      0
DESPERTARES                   20
CONSUMO CAFEINA               25
CONSUMO ALCOHOL               14
FUMADOR                        0
FRECUENCIA EJERCICIO           6
dtype: int64

Tambien podemos usar isnull() tambien. 

La respuesta termo es literalmente dropear las filas que tengan algun valor NaN y tambien sacar alguna que otra columna que este al pedo.

In [ ]:
datos = datos.dropna().drop(columns=["DESPERTARES", "CONSUMO CAFEINA"]) 
datos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 377 entries, 0 to 461
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          377 non-null    int64
 1   EDAD                        377 non-null    int64
 2   GÉNERO                      377 non-null    object
 3   HORA DORMIR                 377 non-null    object
 4   HORA DESPERTAR              377 non-null    object
 5   DURACION SUENIO             377 non-null    float64
 6   EFICIENCIA SUENIO           377 non-null    float64
 7   PORCENTAJE SUENIO REM       377 non-null    int64
 8   PORCENTAJE SUENIO PROFUNDO  377 non-null    int64
 9   PORCENTAJE SUENIO LIVIANO   377 non-null    int64
 10  CONSUMO ALCOHOL             377 non-null    float64
 11  FUMADOR                     377 non-null    object
 12  FRECUENCIA EJERCICIO        377 non-null    float64
dtypes: float64(4), int64(5), object(4)
memory usage: 41.2+ KB

### 2.d. Eliminar datos duplicados

En muchos casos puede suceder que haya datos duplicados en nuestro dataset. ¿Se les ocurren ejemplos?

Para identificarlos, podemos usar duplicated(). ¿Qué está haciendo esta función?

In [53]:
display(datos.duplicated())
display("Cantidad de filas duplicadas: ", datos.duplicated().sum())

0      False
1      False
2      False
3      False
4      False
       ...
457     True
458     True
459     True
460     True
461    False
Length: 377, dtype: bool

'Cantidad de filas duplicadas: '

np.int64(6)

Esta funcion basicamente devuelve una pd.Series de booleanos que chequea si una fila esta duplicada o no.

En teoria, la primera apricion no se considera como True, a partir de la segunda si cuenta.

Podemos usar datos.drop_duplicates() para dropear las filas duplicados.

In [62]:
datos = datos.drop_duplicates()

In [61]:
# Podemos hacer por cada columna
datos["ID"].drop_duplicates()

0        1
1        2
2        3
3        4
4        5
      ...
448    449
450    451
451    452
453     40
461     31
Name: ID, Length: 367, dtype: int64

### 2.e. Resetear el index

Una vez que eliminamos filas por el motivo que sea, nos van a quedar medio raros index. Veamos como nos quedó datos2

In [63]:
datos.index

Index([  0,   1,   2,   3,   4,   6,   7,   8,  10,  11,
       ...
       441, 443, 444, 445, 447, 448, 450, 451, 453, 461],
      dtype='int64', length=371)

Notar que por ejemplo no tenemos algunos casos. Podemos limpiarlo con reset_index()

In [ ]:
datos = datos.reset_index()
datos.index # tira un range, lo que sgnifica que esta todo bien :D
# tira error porque ya anda bien, no darle pelota

ValueError: cannot insert level_0, already exists

### 3. Encadenar métodos

Esta forma de ir modificando un dataset no es muy práctica.

Por ejemplo si ejecutamos varias veces el mismo comando sin renombrar los datos, obtendremos cada vez algo distinto.

Si estamos creando un dataframe nuevo cada vez que hacemos algo, vamos a tener la memoria llena de objetos prácticamente iguales

Una solución es encadenar métodos para hacer el código más legible y fácil de reusar. Y más eficiente también.

Cada función genera un nuevo dataframe. Asi que siempre tengo que usar funciones que me generen un dataframe.

In [ ]:
# Vuelvo a traer los datos para empezar desde cero
datos = pd.read_csv("../datasets/Sleep_efficiency_cleaning.csv")
datos = ( # es SQL xD
    datos[(datos["Age"] >= 18) & (datos["Sleep duration"] >= 6)]
    .rename(columns=nombres)
    .rename(columns=str.upper)
    .drop(columns=["DESPERTARES", "CONSUMO CAFEINA"])
    .dropna()
    .drop_duplicates()
    .reset_index()
)
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       415 non-null    int64
 1   ID                          415 non-null    int64
 2   EDAD                        415 non-null    int64
 3   GÉNERO                      415 non-null    object
 4   HORA DORMIR                 415 non-null    object
 5   HORA DESPERTAR              415 non-null    object
 6   DURACION SUENIO             415 non-null    float64
 7   EFICIENCIA SUENIO           415 non-null    float64
 8   PORCENTAJE SUENIO REM       415 non-null    int64
 9   PORCENTAJE SUENIO PROFUNDO  415 non-null    int64
 10  PORCENTAJE SUENIO LIVIANO   415 non-null    int64
 11  CONSUMO ALCOHOL             415 non-null    float64
 12  FUMADOR                     415 non-null    object
 13  FRECUENCIA EJERCICIO        415 non-null    float64
dtypes: float64(4), int64(6), object(4)
memory usage: 45.5+ KB

#### Extra: pipes
Una cadena de operaciones encadenadas suele llamarse un "pipe" (tubería). 

Por ejemplo, en R podemos hacer pipes en un DataFrame con %>%:

`first(x) %>% second(x) %>% third(x)`

En Python podemos encadenar métodos directamente poniendo uno a continuación del otro, por lo tanto en general no necesitamos un comando especial para pipes. 

Igualmente, los DataFrames de Pandas también tienen un método `pipe()` para encadenar funciones aplicadas al DataFrame que puede resultar útil.